<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>477952135910-imqb8f7r91jsiqjr55c9oge030pnc84j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.477952135910-imqb8f7r91jsiqjr55c9oge030pnc84j</string>
	<key>API_KEY</key>
	<string>AIzaSyALbkSUExNZxxQdpYg2fWqLkZ_5vjH9k-w</string>
	<key>GCM_SENDER_ID</key>
	<string>477952135910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lseg</string>
	<key>PROJECT_ID</key>
	<string>lseg-5363b</string>
	<key>STORAGE_BUCKET</key>
	<string>lseg-5363b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477952135910:ios:7a8dede971b8265763a127</string>
</dict>
</plist>